

@import url(font-awesome.min.css);
@import url(bootstrap.min.css);

/* Global Defaults */
 html, body {
 margin: 0px;
 padding: 0px;
 border: 0px;
 }
 body {
 font: 1em/1.25 Arial, Helvetica, sans-serif;
 }

 /* Headlines */
 h1, h2, h3, h4, h5, h6 {
 margin: 0;
 padding: 0;
 font-weight: normal;
 font-family: Arial, Helvetica, sans-serif;
 }

 /* Text Styles */
 p, th, td, li, dd, dt, ul, ol, blockquote, q, acronym, abbr, a, input, select, textarea {
 margin: 0;
 padding: 0;
 font: normal normal normal 1em/1.25 Arial, Helvetica, sans-serif;
 }
 blockquote {
 margin: 1.25em;
 padding: 1.25em
 }
 q {
 font-style: italic;
 }
 acronym, abbr {
 cursor: help;
 border-bottom: 1px dashed;
 }
 small {
 font-size:.85em;
 }
 big {
 font-size:1.2em;
 }

 /* Links and Images */
 a, a:link, a:visited, a:active, a:hover {
 text-decoration: underline;
 }
 img {
 border: none;
 }

 /* Tables */
 table {
 margin: 0;
 padding: 0;
 border: none;
 }

 /* Forms */
 form {
 margin: 0;
 padding: 0;
 display: inline;
 }
 label {
 cursor: pointer;
 }
 input::-moz-focus-inner {
   border: 0;
 }
 a, button, textarea:focus, input:focus{
     outline: none;
 }
 /* Common Classes */
 .clear { clear: both; }
 .floatLeft { float: left; }
 .floatRight { float: right; }
 .textLeft { text-align: left; }
 .textRight { text-align: right; }
 .textCenter { text-align: center; }
 .textJustify { text-align: justify; }
 .blockCenter { display: block; margin-left: auto; margin-right: auto; } /* remember to set width */
 .bold { font-weight: bold; }
 .italic { font-style: italic; }
 .underline { text-decoration: underline; }
 .noindent { margin-left: 0; padding-left: 0; }
 .nomargin { margin: 0; }
 .nopadding { padding: 0; }
 .nobullet { list-style: none; list-style-image: none; }


body {
	background: #FAFAFA;
}

/* --------------  HEADER --------------*/
.header{
	height: 70px;
	background: #FFFFFF;
	border: 1px solid #FFFFFF;
	box-shadow: 0px 2px 9px 0px rgba(200,200,200,0.50);
}

.navbar-nav{
	float: right;
	margin: 0;
	margin-top: 8px;
}

.logo {
	margin-left: 10%;
	width: 35px;
	height: auto;
}

.profile-pic {
	margin-top: 7px;
	margin-right: 10px;
	width:40px;
	height: auto;
}
/* --------------  ADD RIVENT --------------*/

.addRivent{
	height: 100px;
}

.addertitle{
	margin-top: 30px;
    height: 0px;
    margin-right: 454px;
    text-align: center;
}
.addertitle img, h2 {
	display: inline-block;
}
#icon-select {
	width: 16px;
	margin-top: -5px;
}
.addertitle h2{
	font-size: 12px;
	font-weight: bold;
	margin-left: 10px;
	font-family: 'Varela Round', sans-serif;
}

.adder{
	margin-top: 22px;
	text-align: center;
}
.addText{
	display: inline-block;;
	width: 35%;
	height: 40px;
	padding: 10px;
	margin-right: -10px;
	font-size: 12px;
	line-height: 0.428571;
	color: #828080;
	background-color: #fff;
	background-image: none;
	border: 2.5px solid #74E3EC;
	border-radius: 0px;
	font-family: 'Varela Round', sans-serif;
}

.addBtn{
	color: white;
	height: 40px;
	padding: 13px 12px;
	margin: -2px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 11px;
	border: 1px solid #4caf50;
}

#category-btn{
	background: #4A90E2;
	border-color: #4A90E2;
}
#add-btn{
	background: #B3E98C;
	border-color: #B3E98C;
}
#date-btn{
	background: #74e3ec;
	border-color: #74e3ec;
}
#date-btn:active #calendar{
	display: block;
	float: left;
}
#calendar, #date{
	display:none;
}

.ui-datepicker-header {
    background: #EAEAEA;
    color: #333;
    font-weight: bold;
    line-height: 30px;
}

.ui-datepicker {
  display: block;
  text-align: center;
  font-family: "Helvetica";
  color: #666;
  background: #FAFAFA;
}

.date-block{
  text-align: center;
  background: #D54;
  font-family: "Helvetica";
  color: #EEE;
  font-size: 18pt;
  padding: 10px;

}

.date-day{
  font-size: 24pt;
}
.date-date{
  font-size: 48pt;
}

.ui-datepicker-prev, .ui-datepicker-next {
    display: inline-block;
    font-family: FontAwesome;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    background-color:none;
    background-repeat: no-repeat;
    position: relative;
    color: transparent !important;
}
.ui-datepicker-prev {
    float: left;
    background-position: center -30px;
}
.ui-datepicker-next {
    float: right;
    background-position: center 0px;
}

.ui-datepicker-prev:before {
  content: "\f053";
  display: block;
  color: rgba(0,0,0,.3) !important;

}

.ui-datepicker-next:before {
  content: "\f054";
  display: block;
  color: rgba(0,0,0,.3) !important;

}

.ui-datepicker-year{
  font-weight: normal;
}

.ui-datepicker-calendar {
  border-collapse:collapse;
  width: 100%;
  margin-top: 10px;
  text-align: center;
  background: #FAFAFA;
  font-family: "Helvetica";
}
.ui-datepicker td a{
  text-decoration: none;
}
.ui-datepicker td a, .ui-datepicker td span{
  display: block;
  width: 100%;
  font-size: 12px;
  padding: 10px 0;
  color: #333;
}

.ui-datepicker td span{
  color: #BBB;
}

.ui-datepicker .ui-state-active {
  background: #EEE;
}
.ui-datepicker .ui-state-highlight {
  background: #FFF;
  color: #D54;
}

.ui-datepicker td.past {
  color:#BBB;
}

.ui-datepicker a:hover {
  background: #E65;
  color: #FFF;
}

.input {
background: #FFFFFF;
border: 3px solid #74E3EC;
}


/* --------------  DISPLAY RIVENT --------------*/

.displayRivent{
	background-color: #fff;
	height: 1000px;
	margin-top: 30px;
	margin-left: -30px;
	margin-right: -30px;
	padding: 0px;
}


#upcoming{
	margin-left: -75%;
	color: #000;
	font-size: 16px;
	font-family: 'Varela Round', sans-serif;
}
#history{
	color: #B7B7B7;
	font-size: 16px;
	font-family: 'Varela Round', sans-serif;
}
#upcoming #history:active{
	color: #000;
}

.rivent-container{
	text-align: center;
	width: 60%;
	margin: auto;
	margin-top: 60px;
}

.rivent-box{
	margin-top: 12px;
	height: 50px;
	display: block;
	background: #FFFFFF;
	box-shadow: 0px 2px 13px 0px rgba(214,214,214,0.50);
	border-radius: 2px;
}
