<!DOCTYPE html>
<html>
<head>
  <title>Ricall me</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
</head>
<body>
  <div id="todo-table">
    <h2> Ricall.me app </h2>
  <form>
    <input type="text" name="item" placeholder="Add a item" required>
    <button type="submit">Add item</button>
  </form>
  <ul>
    <% for(var i=0; i < rivent.length; i++){ %>
      <li><%=rivent[i].event_name%> <button class="del-btn" id='<%=rivent[i].event_id%>'>Delete</button></li>
    <% }; %>
  </ul>
</div>
  <script src="/js/todo.js" type="text/javascript"></script>
</body>
</html>
