<!DOCTYPE html>
<html lang='en'>

<head>
	<meta charset='utf-8'>
	<title>Arty | Login</title>

	<!-- Links -->
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link type="text/javascript" href="js/script.js">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Lato|Raleway|Roboto" rel="stylesheet">

</head>
<body>
	<div class="home">
		<p><a href="index.php">Home</a></p>
	</div>
	<div class="login-page">
	  <div class="form">
	    <form class="login-form">
	      <input type="text" placeholder="Email"/>
	      <input type="password" placeholder="Password"/>
	      <button>login</button>
	      <p class="message">Not registered? <a href="register.php">Create an account</a></p>
	    </form>
	  </div>
	</div>
</body>
