<!DOCTYPE html>
<html lang='en'>

<head>
	<meta charset='utf-8'>
	<title>Arty | Register</title>

	<!-- Links -->
	<link rel="stylesheet" type="text/css" href="css/login.css">
	<link type="text/javascript" href="js/script.js">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Lato|Raleway|Roboto" rel="stylesheet">
</head>
<body>
	<div class="home">
		  <p><a href="/">Home</a></p>
	</div>
	<div class="login-page">
	  <div class="form">
	    <form class="login-form" method="POST" enctype="multipart/form-data">
	      <input type="text" placeholder="First Name" name="firstname" />
		  <input type="text" placeholder="Last Name" name="lastname" />
	      <input type="password" placeholder="Password" name="password"/>
		  <input type="password" placeholder="Repeat password"/>
		  <input type="text" placeholder="Email address" name="email"/>
		  <input type="text" placeholder="Phone number" name="phone"/>
	      <button name="register" value="create_account">create</button>
	      <p class="message">Already registered? <a href="/login">Sign In</a></p>
	    </form>
	  </div>
	</div>
</body>
